aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
log2.log
log.log
ltmain.sh
missing
stamp-h1
TAGS
tags
Makefile
Makefile.in
data/Makefile
data/Makefile.in
docs/Makefile.in
libradardataprocess/Makefile.in
*.o
*.lo
*.a
*.la
*~
*.swp
Makefile.in
Makefile
*.html
*.sgml
*.xml
*.Po
config.in
config.lt
reminder-preferences/desktop-reminder-preferences
src/desktop-reminder
intltool-*.in
makeinstalldirs
gnome-doc-utils.make
